body {
	margin: 15px;
	background: #CCCCCC;
}

h1 {
	margin-top: 25px;
	color: #000000;	
}

h2, h3 {
	color: #333;
}
	

.content {
	border: 1px solid #00AAFF;
	margin: 15px;
	padding: 10px;
	background: #DDDDDD;	
}

.main {
	border: 1px solid #000000;
	margin: 10px;
	padding: 15px;	
}