<div class="content">
<h3>Course: <%=@course.name%></h3>
<pre><%=h@course.description%></pre>
<h3>Instances<h3>
<% @course.course_instances.each do |kurssi|%>
	<pre><%= link_to h(kurssi.name), course_course_instance_path(@course, kurssi) %></pre>
<% end %>
<%= link_to "Back", :back %>
</div>